@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #60a6a1;
    --color2: #8FE7EB;
    --color3: #4BBCBF;
    --color4: #94a146;
    --color5: #C9E351;
    --color6: #497a77;
}

body {
    height: 100vh;
    background: #ffffff url('./imagens/background.jpg') center center no-repeat fixed;
    background-size: cover;
    
}

.grid-container{
    display: grid;
    gap: 0;
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.19);
}

.titulo {
    grid-area: 1 / 1 / 1 / 3;

}

.titulo >h2 {
    font: bold 3.3vw "Courier New, Courier, monospace";
    color: var(--color1);
    padding: 1.5vw 0 0 1.5vw;
    text-shadow: 1px 1px 1px #528a86ec;
}

.titulo >h3 {
    font: bold 2vw "Arial, Helvetica, sans-serif";
    color: var(--color4);
    padding: 0.5vw 0 0 1.5vw;
    text-shadow: 1px 1px 1px #becf5a98;
}

.titulo >p {
    font: 1.8vw "Verdana, Geneva, Tahoma, sans-serif";
    text-align: justify;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

.preço {
    background-color: var(--color3);
    grid-area: 2 / 1 / 3 / 2;   
}

.preço >h2 {
    padding: 1vw 0 0 1.5vw;
    font: bolder 2.5vw "Arial, Helvetica, sans-serif";
    color:#ffffff
}

.preço > p {
    font: 2vw "Verdana, Geneva, Tahoma, sans-serif";
    color: #ffffff;
    text-align: justify;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

#preço {
    font: bolder 3.2vw "Arial, Helvetica, sans-serif";
}

#destaque {
    color: red;
}

#registro {
    position: absolute;
    text-align: center;
    border-radius: 7px;
    left: 25%;
    top: 87%;
    transform: translate(-50%);
}

button {
    background-color: var(--color6);
    box-shadow: 0px 0px 13px 6px #00000030;
    border: none;
}

button> a {
    text-decoration: none;
    font: 2.3vw "Verdana, Geneva, Tahoma, sans-serif";
    padding: 5px;
    color: #ffffff;
    
}

button :hover {
    background-color: var(--color5);
    border-radius: 7px;
    font-size: 2.5vw;
    color:var(--color4);
    transition: 0.2s;

}
.descriçao {
    background-color: var(--color2);
    grid-area: 2 / 2 / 3 / 3;   
}

.descriçao > h2 {
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    font: bolder 25px "Arial, Helvetica, sans-serif";
    color:var(--color6)
}

.descriçao > ul {
    list-style-position: inside;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    font: bolder 17px "Arial, Helvetica, sans-serif";
    color: var(--color6);
}

@media only screen and (max-width:650px) {
.grid-container{
    width: 70vw;
    grid-template-columns: 1;
    grid-template-rows: 3;   
}

.titulo {
    grid-column: 1;
    grid-row: 1;
    height: auto;   
}

.preço {
    grid-column: 1;
    grid-row: 3;
    height: auto;
}

#registro {
    position: absolute;
    left: 66%;
    top: 91%;
}

.descriçao {
    grid-column: 1;
    grid-row: 2;
    height: 30vh;
}

.titulo >h2 {
    font-size: 5vw;
}

.titulo > h3 {
    font-size: 3.2vw;
}
.titulo > p {
    font-size: 3vw;
}

button >a{
    font-size:4.3vw;
}
button > a:hover {
    font-size: 5vw;
}

.preço >h2 {
    font-size: 5vw;
}

.preço > h3 {
    font-size: 3.2vw;
}
.preço > p {
    font-size: 3vw;
}

.descriçao >h2{
    font-size: 5vw;
}

.descriçao >ul {
    font-size: 3vw;
}
}