@charset "UTF-8";

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

body {
    height: 90vh;
    background: url(../imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

nav { /*Menu de Navegação*/
    text-align: right;
}

div #menu { /*Menu de Navegação*/
    position: absolute;
    width: 65px;
}

div > a > img { /*imagens do Menu de Navegação*/
    width: 60px;
    border-radius: 50px;
    padding: 5px;
}

#moldura {   
    position: absolute;
    width: 25vw;
    left: 50vw;
    top: 50%;
    transform: translate(-50%,-50%);
}

iframe {
    position: absolute;
    width: 21.7vw;
    height: 38.5vw;
    left: 50vw;
    top: 50%;
    transform: translate(-50%,-50%);
}

