@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #60a6a1;
    --color2: #8FE7EB;
    --color3: #4BBCBF;
    --color4: #94a146;
    --color5: #C9E351;
}

body {
    height: 100vh;
    background: #ffffff url('./imagens/background.jpg') center center no-repeat fixed;
    background-size: cover;
    
}

.grid-container{
    display: grid;
    gap: 0;
    position: absolute;
    width: 60vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.titulo {
    grid-column: 1 / span 2;
    grid-row: 1; 
}

.titulo >h2 {
    font: bold 30px "Courier New, Courier, monospace";
    color: var(--color1);
    padding: 1.5vw 0vw 0vw 2vw;
}

.titulo >h3 {
    font: bold 20px "Arial, Helvetica, sans-serif";
    color: var(--color4);
    padding: 1.5vw 0vw 0vw 2vw;
}

.titulo >p {
    font: 17px "Verdana, Geneva, Tahoma, sans-serif";
    text-align: justify;
    padding: 1vw 3vw 0vw 2vw;
}

.preço {
    background-color: var(--color3);
    grid-column: 1;
    grid-row: 2;    
}

.preço >h2 {
    padding: 1vw 0vw 0vw 2vw;
    font: bolder 25px "Arial, Helvetica, sans-serif";
    color:#ffffff
}

.preço > p {
    font: 20px "Verdana, Geneva, Tahoma, sans-serif";
    color: #ffffff;
    text-align: justify;
    padding: 1vw 3vw 0vw 2vw;
}

#preço {
    font: bolder 31px "Arial, Helvetica, sans-serif";
}

#destaque {
    color: red;
}

#registro {
    display: inline;
    text-align: center;
    border-radius: 7px;
}

button> a {
    text-decoration: none;
    font-size: 25px;
}
.descriçao {
    background-color: var(--color2);
    grid-column: 2;
    grid-row: 2;  
}

.descriçao > h2 {
    padding: 1vw 0vw 0vw 2vw;
    font: bolder 25px "Arial, Helvetica, sans-serif";
    color:#ffffff
}

.descriçao > ul {
    list-style-position: inside;
    padding: 1vw 0vw 0vw 2vw;
    font: bolder 17px "Arial, Helvetica, sans-serif";
    color: #ffffff;
}