@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #60a6a1;
    --color2: #8FE7EB;
    --color3: #4BBCBF;
    --color4: #94a146;
    --color5: #C9E351;
}

body {
    height: 100vh;
    background: #ffffff url('./imagens/background.jpg') center center no-repeat fixed;
    background-size: cover;
    
}

.grid-container{
    display: grid;
    gap: 0;
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.titulo {
    grid-area: 1 / 1 / 1 / 3;

}

.titulo >h2 {
    font: bold 30px "Courier New, Courier, monospace";
    color: var(--color1);
    padding: 10px 0px 0px 20px;
}

.titulo >h3 {
    font: bold 20px "Arial, Helvetica, sans-serif";
    color: var(--color4);
    padding: 5px 0px 0px 20px;
}

.titulo >p {
    font: 17px "Verdana, Geneva, Tahoma, sans-serif";
    text-align: justify;
    padding: 2px 20px 10px 20px;
}

.preço {
    background-color: var(--color3);
    grid-area: 2 / 1 / 3 / 2;   
}

.preço >h2 {
    padding: 10px 0px 0px 20px;
    font: bolder 25px "Arial, Helvetica, sans-serif";
    color:#ffffff
}

.preço > p {
    font: 20px "Verdana, Geneva, Tahoma, sans-serif";
    color: #ffffff;
    text-align: justify;
    padding: 5px 0px 0px 20px;
}

#preço {
    font: bolder 31px "Arial, Helvetica, sans-serif";
}

#destaque {
    color: red;
}

#registro {
    position: absolute;
    text-align: center;
    border-radius: 7px;
    left: 25%;
    top: 85%;
    transform: translate(-50%);
}

button> a {
    text-decoration: none;
    font-size: 25px;
}
.descriçao {
    background-color: var(--color2);
    grid-area: 2 / 2 / 3 / 3;   
}

.descriçao > h2 {
    padding: 5px 0px 0px 20px;
    font: bolder 25px "Arial, Helvetica, sans-serif";
    color:#ffffff
}

.descriçao > ul {
    list-style-position: inside;
    padding: 5px 0px 0px 20px;
    font: bolder 17px "Arial, Helvetica, sans-serif";
    color: #ffffff;
}

@media only screen and (max-width:650px) {
.grid-container{
    width: 80vw;
    grid-template-columns: 1;
    grid-template-rows: 3;   
}

.titulo {
    grid-column: 1;
    grid-row: 1;
    height: 33vh;   
}

.preço {
    grid-column: 1;
    grid-row: 3;
    height: 33vh;
}

#registro {
    position: absolute;
    left: 50%;
    top: 91%;
}

.descriçao {
    grid-column: 1;
    grid-row: 2;
    height: 33vh;
}

}